<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center">
          <h2 class="p-3">SignUp</h2>
          <h6>Please Register</h6>
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="onsignUp()">
            <div class="mb-4">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter name"
                formControlName="name"
              />
            </div>
            <small
              class="text-danger"
              *ngIf="
                (signupForm.controls['name'].dirty ||
                  signupForm.controls['name'].touched) &&
                signupForm.hasError('required', 'name')
              "
              >*Username is required</small
            >
            <div class="mb-4">
              <label for="mobile" class="form-label">Mobile</label>
              <input
                type="number"
                class="form-control"
                id="mobile"
                placeholder="Enter mobile number"
                formControlName="mobile"
              />
            </div>
            <small
              class="text-danger"
              *ngIf="
                (signupForm.controls['mobile'].dirty ||
                  signupForm.controls['mobile'].touched) &&
                signupForm.hasError('required', 'mobile')
              "
              >*Mobile number is required</small
            >
            <div class="mb-4">
              <label for="username" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Enter email"
                formControlName="email"
              />
              <small
                class="text-danger"
                *ngIf="
                  (signupForm.controls['email'].dirty ||
                    signupForm.controls['email'].touched) &&
                  signupForm.hasError('required', 'email')
                "
                >*Email is required</small
              >
            </div>

            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
                formControlName="password"
              />
              <small
                class="text-danger"
                *ngIf="
                  (signupForm.controls['password'].dirty ||
                    signupForm.controls['password'].touched) &&
                  signupForm.hasError('required', 'password')
                "
                >*Password is required</small
              >
            </div>

            <div class="d-grid mb-3">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!signupForm.valid"
              >
                Signup
              </button>
            </div>
          </form>
          <p>Already Register? click to<a routerLink="/login"> Login!!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
